[Desktop Entry]
Comment=A recreation of KDE Software Compilation 4's Splash Screen
Keywords=Desktop;Workspace;Appearance;Look and Feel;Logout;Lock;Suspend;Shutdown;Hibernate;
Name=KDE 4 Splash Screen

Type=Service
X-KDE-ServiceTypes=Plasma/LookAndFeel
X-KDE-PluginInfo-Author=Harole
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Email=teraos@protonmail.com
X-KDE-PluginInfo-License=GPLv2+
X-KDE-PluginInfo-Name=me.haroleethan.KDESC4Splash
X-KDE-PluginInfo-Version=0.6
X-KDE-PluginInfo-Website=https://haroleethan.studio.site
